.footer {
  text-align: center;
  margin-bottom: 0px;
  background-image: url("./geometric-leaves.png");
  font-size: 15px;
  height: 80px;
  padding-top: 30px;
  color: #99bab2;
  font-family: "Noto Sans JP", sans-serif;
}
