body {
  font-family: "Noto Sans JP", sans-serif;
}

h2 {
  color: #ab573f;
  margin-top: 30px;
  font-size: 28px;
}

.name {
  color: #6797a8;
  font-size: 18px;
  margin-top: 20px;
}

.submitbutton {
  background-color: #d1b758;
  border: none;
  color: white;
  margin-bottom: 30px;
  margin-top: 20px;
  align-content: center;
}

.submitbutton:hover {
  background-color: #99bab2;
}

.bar {
  padding-right: 300px;
}
